.width-date {
    width: 49% !important;
}
.style-label {
    color: #00007a;
    font-weight: 600;
}
.gr-input {
    width: 100%;
    padding: 6px;
    display: block;
    border: 1px solid #ccc!important;
    border-radius: 6px;
}
input:focus {
    border: 1px solid  #00007a;
}
.status-profile {
    background-color: #00007a;
    height: 50px;
    text-align: center;
    color: white;
}
.tab-bar {
    height: 100%;
    padding-top: 1.3%;
}
.buttons {
    text-align: center;
    padding-bottom: 1%;
}
.btn-dk {
	display: inline-block;
	color: #fff;
	background-color: #f1a951;
	text-transform: uppercase;
	letter-spacing: 2px;
    font-size: 14px;
    font-weight: 600;
	padding: 10px 30px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border: 1px solid #a75e04;
	border-bottom-width: 3px;
}

	.btn-dk:hover {
		background-color: #c77108;
        border-color: #a75e04;
        color: #00007a;
	}
	
	.btn-dk:active {
		background-color: #CCC;
		border-color: #a75e04;
	}

.icon {
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
}

